In [1]:
import pandas as pd

In [2]:
weather_p1 = pd.read_csv('weather_p1.csv',sep=',')
weather_p2 = pd.read_csv('weather_p2.csv',sep=',')

In [3]:
weather_p1

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5

In [4]:
weather_p2

        date element  value
0  1/30/2010    tmax   27.3
1  1/31/2010    tmin   14.4

In [9]:
concatenado=pd.concat([weather_p1,weather_p2])

In [6]:
concatenado

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5
0  1/30/2010    tmax   27.3
1  1/31/2010    tmin   14.4

In [10]:
concatenado.loc[0,:]

        date element  value
0  1/30/2010    tmax   27.8
0  1/30/2010    tmax   27.3

In [11]:
pd.concat([weather_p1,weather_p2], ignore_index=True)

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5
2  1/30/2010    tmax   27.3
3  1/31/2010    tmin   14.4