In [2]:
import pandas as pd
import numpy as np

In [ ]:
"""
- Data may not always come in 1 huge file
- 5 million row dataset may be broken into
- 5 separate datasets
- Easier to store and share
- May have new data for each day
- Important to be able to combine then clean, or vice versa
"""
##Data quizas no venga de un solo archivo
#5 datasets diferentes
#Que sea fasil de compartir y guardar
#quizas tengas datos de cada dias

In [3]:
weather_p1 = pd.read_csv('weather_p1.csv', sep=',')
weather_p2 = pd.read_csv('weather_p2.csv', sep=',')

In [4]:
weather_p1.head()

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5

In [5]:
weather_p2.head()

        date element  value
0  1/30/2010    tmax   27.3
1  1/31/2010    tmin   14.4

In [6]:
##Vamos a concatenar
concatenado = pd.concat([weather_p1, weather_p2])

In [9]:
print(concatenado)

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5
0  1/30/2010    tmax   27.3
1  1/31/2010    tmin   14.4

In [10]:
##Localizar las de id 0 
concatenado = concatenado.loc[0, :]
print(concatenado)

        date element  value
0  1/30/2010    tmax   27.8
0  1/30/2010    tmax   27.3

In [11]:
pd.concat([weather_p1, weather_p2], ignore_index=True)
##ignorar el id de cada base, y enumerar el id

        date element  value
0  1/30/2010    tmax   27.8
1  1/31/2010    tmin   14.5
2  1/30/2010    tmax   27.3
3  1/31/2010    tmin   14.4

In [ ]:
##Finding and concatenating data